/*menu*/
.sidenav1 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav1 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav1 a:hover {
  color: #f1f1f1;
}

.sidenav1 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main1 {
  transition: margin-left .5s;
  /*padding: 16px;*/
}

@media screen and (max-height: 450px) {
  .sidenav1 {padding-top: 15px;}
  .sidenav1 a {font-size: 18px;}
}

/*oldal*/
body {
  margin: 0;
}

.container {
  width: 1400px;
  max-width: 90vw;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  transition: transform .5s;
}

svg {
  width: 30px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

header .icon-cart {
  position: relative;
}

header .icon-cart span {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: red;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -20px;
}


.listProduct .item img {
  width: 100%;

}

.listProduct {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.listProduct .item {
  background-color: #de7474;
  padding: 10px;
  border-radius: 20px;
}

.listProduct .item h2 {
  font-weight: 500;
  font-size: large;
}

.listProduct .item .price {
  letter-spacing: 5px;
  font-size: small;
}

.listProduct .item button {
  background-color: #000;
  color: #ebebeb;
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.cartTab {
  width: 400px;
  max-width: 100%;
  background-color: #000;
  color: #ebebeb;
  position: fixed;
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: .5s;
}

.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}

.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button {
  background-color: gold;
  border: none;
  font-family: 500;
  cursor: pointer;
}

.cartTab .btn button.close {
  background-color: aquamarine;
}

.cartTab .listCart .item img {
  width: 100%;
}

.cartTab .listCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.listCart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #ebebeb;
  color: plum;
  border-radius: 50%;
  cursor: pointer;
}

.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #dedede;
}

.listCart .item:nth-child(even) {
  background-color: #818181;
}

.cartTab .listCart {
  overflow: auto;
}

.cartTab .listCart::-webkit-scrollbar {
  width: 0;
}


body.showCart .cartTab {
  inset: 0 0 0 auto;
}

body.showCart .container {
  transform: translateX(-250px);
}
